
svg {
	display: inline-block;
	vertical-align: middle;
	border:1px solid;
}

text {
	font-size: 20px;
	dy: 0.5em;
	fill: black;
	text-anchor: middle;
	inline-size: 100px;
}


circle {
	fill: transparent;
}

