text {
        font-size: 20px;
        dy: 0.5em;
        fill: black;
        text-anchor: middle;
        inline-size: 100px;
}

html {
  max-width: 1000px;
  background-color: #000;
  margin: auto;
}

body {
  height: 2300px;
  font-family: sans-serif;
  font-size: 15px;
  margin:0;
  padding:0;
  max-width: 1000px;
  background-color: #FFF;
}

#flex-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  block-size: fit-content;
}

#left-panel {
  height:2300px;
  width: 33%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  place-items: left;
  background-color: #2e2478;
  color: white;
  line-height: 20px;
  padding: 10px;
}

#right-panel {
  width: 67%;
  display: flex;
  flex-direction: column;
  place-items: center-start;
  background-color: white;
  color: #2e2478;
  line-height: 20px;
  height: 20px;
  padding: 30px;
}

a{
  color: #FFF;
  display: block;
}

time {
  font-weight: lighter;
  font-style: italic;
}


hr {
    width: 95%;
    display: block;
    height: 6px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 2px;
}

#left-panel > hr {
    color: white;
}
#right-panel > hr {
    color: #2e2478;
}

#left-panel h1 {
   text-align: center;
   font-weight: bold;
   color: white;
   font-size: 20px;
   margin-bottom: 2px;
   margin-top: 2px;
}

#right-panel h2 {
   margin-bottom: 2px;
   margin-top: 2px;
}

#right-panel h3 {
  display: none;
}
#right-panel h3.job1 {
  display: block;
}
#right-panel div#achievements hr {
  display: none;
}
#right-panel div#achievements hr.job-1 {
  display: block;
}


.checkbox-round-full {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.checkbox-round-empty {
    width: 1.3em;
    height: 1.3em;
    background-color: #2e2478;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
/*
td {
  width:10px;
}
*/

img#pict {
  margin: auto;
  height:120px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#stats > table{
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

div#stats > table td:first-child {
  text-align: left;
  width: 150px;
}

div#hobby div,
div#personal-project div,
div#achievements  div{
  display:none;
}
