
div#hobby div#Bikepacking{
  display:block;	
}

h1#headline_data{
  display:block;
}
p#pitch_data{
  display:block;
}

#right-panel h3{
  display:none;
}

#right-panel h3#1{
  display:block;
}

h1#headline_software{
  display:none;
}
p#pitch_software{
  display:none;
}

div#achievements > div#Santarelli_Group_1,
div#achievements > div#Santarelli_Group_2,
div#achievements > div#Paprec_1,
div#achievements > div#Paprec_2,
div#achievements > div#Paprec_3
{
  display:block;
}

div#personal-project > div#Personal_project{
  display:block;
}

div#achievements hr{
  display:none;
}
div#achievements hr.-1{
  display:block;
}
