text {
        font-size: 20px;
        dy: 0.5em;
        fill: black;
        text-anchor: middle;
        inline-size: 100px;
}


body {
  height: 100vh;
  font-family: sans-serif;
  font-size: 15px;
  margin:0;
  padding:0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  block-size: fit-content;
}

.flex-left {
  width: 25%;
  display: grid;
  overflow: auto;
  place-items: left;
  background-color: #05014A;
  color: white;
  line-height: 20px;
}

.flex-right {
  width: 75%;
  display: grid;
  place-items: center-start;
  background-color: white;
  color: #05014A;
  line-height: 20px;
  height: 20px;
  padding: 30px;
}

time {
  font-weight: lighter;
  font-style: italic;
}


hr {
    width: 95%;
    display: block;
    height: 6px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin: auto;
}

.flex-left > hr {
    color: white;
}
.flex-right > hr {
    color: #05014A;
}

.flex-left > h1 {
   text-align: center;
   font-weight: bold;
   color: white;
   font-size: 24px;
}


.checkbox-round-full {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.checkbox-round-empty {
    width: 1.3em;
    height: 1.3em;
    background-color: #05014A;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
/*
td {
  width:10px;
}
*/

img#pict {
  margin: auto;
  height:120px;
}

div#stats > table{
  align: right;
}
