
.data{
  display:block;
}

.software{
  display:none;
}

div#achievements > div.Santarelli,
div#achievements > div.Paprec
{
  display:block;
}

div#personal-project > div#Personal_project{
  display:block;
}

div#hobby div#Bikepacking{
  display:block;        
}

